* {
	background-color: #f3f2f1;
	font-family: Nunito, sans-serif
}

h1 {
	color: #6699ff;
}

a {
	color: #003cb3;
	text-decoration: none;
	font-weight: 700
}

body {
	width: 80%;
	margin: 0 auto
}

#wavehi {
	margin-top:9em;
	margin-right:10em;
	float: right
}

.message {
	height: auto;
	width: 48%;
	top: 1em;
	margin-left: 10%;
	display: inline-block;
	text-align: justify
}

.left {
	margin-left: 0;
	margin-top: 4em
}

#spacing {
	margin-top: -1em;
}
